= form_for(@service) do |f|
  - if @service.errors.any?
    #error_explanation
      %h2
        = pluralize(@service.errors.count, "error")
        prohibited this service from being saved:
      %ul
        - @service.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    %br
      = f.text_field :name
  .field
    = f.label :slug
    %br
      = f.text_field :slug
  .actions
    = f.submit
