%p#notice= notice
%h1 Listing Services
%table
  %thead
    %tr
      %th Name
      %th{:colspan => "3"}
  %tbody
    - @services.each do |service|
      %tr
        %td= service.name
        %td= link_to 'Show', service
        %td= link_to 'Edit', edit_service_path(service)
        %td= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' }
%br
  = link_to 'New Service', new_service_path
