<!--<p id="notice"><%= notice %></p>-->
<h3 class="lead pull-left"><%= @service.name %></h3>

<div class="dropdown pull-right">
  Prikaži prvo:
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <% if @sort == "skuplji" %>
    skuplje
    <% else %>
    jeftinije
    <% end %>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to 'prvo jeftinije', url_for() %></li>
    <li><%= link_to 'prvo skuplji', url_for( :sort => 'skuplji' ) %></li>

  </ul>
</div>
<div class="clearfix"></div>


<% @salons.each do |salon| %>
  <div class="panel panel-default salon">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <%= image_tag("default.png", :class => "salon_list_image") %>
        </div>
        <div class="col-md-8">
          <h3 class="title"><%= salon.name %> <span class="pull-right label label-default"><%= salon.prices.find_by(service_id: @service.id).price %><span>RSD</span></span></h3>
          <span class="address"><%= salon.address %></span>
          <p><%= salon.description %></p>
          <div class="pull-right">
            <%= link_to 'Pogledaj salon', salon,  class: "btn btn-default" %>
            <%= link_to 'Edit', edit_salon_path(salon), class: "btn btn-primary" %>
            <%= link_to 'Destroy', salon, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </div>
       </div>
      </div>
      </div>
    </div>
  <% end %>


<%= link_to 'Edit this service', edit_service_path(@service),  class: "btn btn-warning" %>
<%= link_to 'New Service', new_service_path,  class: "btn btn-success" %>
