- if notice
  %p#notice= notice
%div.row
  %div.col-md-6
    %h3.lead.pull-left.search
      = @service.name
      %br
    %div.pull-left.search_count
      Pronađeno salona sa ovom uslugom:
      = @number_of_results
  = render 'salons/salon_filter'
- @salons.each do |salon|
  = render 'salons/salon_list', salon: salon
= will_paginate @salons, :param_name => t('will_paginate.page'), renderer: BootstrapPagination::Rails
= link_to 'Edit this service', edit_service_path(@service),  class: "btn btn-warning"
= link_to 'New Service', new_service_path,  class: "btn btn-success"
