.panel.panel-default.salon
  .panel-body
    .row
      .col-md-4
        - if salon.image.exists?
          = image_tag salon.image.url(:preview),:class => "salon_list_image"
        - else
          = image_tag("default.png", :class => "salon_list_image")
      .col-md-8
        %h3.title
          = salon.name
          - if location_is_know
            %span.pull-right.label.label-success
              = salon.distance_to(@target).round(2)
              %span km
          &nbsp;
          -if defined?(@service)
            %span.pull-right.label.label-default
              = salon.prices.find_by(service_id: @service.id).price
              %span RSD
        %span.address= salon.city_name
        ,
        %span.address= salon.municipality_name
        ,
        %span.address= salon.address
        %p= truncate(salon.description, :length => 200)
        .pull-right
          = link_to 'Pogledaj salon', salon,  class: "btn btn-default"
          = link_to 'Edit', edit_salon_path(salon), class: "btn btn-primary"
          = link_to 'Destroy', salon, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
