%div.col-md-6
  - if @number_of_results.to_i > 1
    - if (!current_page?(controller: 'salons', action: 'index') or !current_page?(controller: 'salons', action: 'search'))
      .dropdown.pull-right.search
        = t('sort_by')
        %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          -if defined?(@service)
            - if location_is_know
              - if params[:sort] == "blizi"
                bli탑e
              - if params[:sort] == "dalji"
                dalje
            - if params[:sort] == "skuplji"
              skuplje
            - if !params[:sort]
              jeftinije
          -else
            - if location_is_know
              - if params[:sort] == "dalji"
                dalje
              - else
                bli탑e
          %span.caret
        %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
          - if location_is_know
            -if defined?(@service)
              %li= link_to 'prvo bli탑e', url_for( params.merge(:sort => 'blizi').except(:strana)  )
            -else
              %li= link_to 'prvo bli탑e', url_for(:search => params[:search])
            %li= link_to 'prvo dalje', url_for( params.merge(:sort => 'dalji' ).except(:strana) )
          -if defined?(@service)
            %li= link_to 'prvo jeftinije', url_for()
            %li= link_to 'prvo skuplje', url_for( :sort => 'skuplji' )
