<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<% @salons.each do |salon| %>
  <div class="panel panel-default salon">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <%= image_tag("default.png", :class => "salon_list_image") %>
        </div>
        <div class="col-md-8">
          <h3 class="title"><%= salon.name %></h3>
          <span class="address"><%= salon.address %></span>
          <p><%= salon.description %></p>
          <div class="pull-right">
            <%= link_to 'Pogledaj salon', salon,  class: "btn btn-default" %>
            <%= link_to 'Edit', edit_salon_path(salon), class: "btn btn-primary" %>
            <%= link_to 'Destroy', salon, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </div>
       </div>
      </div>
      </div>
    </div>
  <% end %>


<%= link_to 'New Salon', new_salon_path, class: "btn btn-success pull-right" %>
