<p id="notice"><%= notice %></p>

<h1>Listing Salons</h1>

  <% @salons.each do |salon| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <b><%= salon.name %></b> - <%= salon.address %> <%= link_to 'Show', salon %> / <%= link_to 'Edit', edit_salon_path(salon) %> / <%= link_to 'Destroy', salon, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% salon.prices.each do |p| %>
        <br><%= p.service.name %>: <%= p.price %>
      <% end %>
      </div>
    </div>
  <% end %>


<%= link_to 'New Salon', new_salon_path %>
