- if notice
  %p#notice= notice
- if location_is_know
  %h3.lead.pull-left
    Udaljenost
  .dropdown.pull-right
    Prikaži prvo:
    %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
      - if params[:sort] == "dalje"
        dalje
      - else
        bliže
      %span.caret
    %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
      %li= link_to 'prvo bliže', url_for()
      %li= link_to 'prvo dalje', url_for( :sort => 'dalje' )
  .clearfix
- @salons.each do |salon|
  = render 'salons/salon_list', salon: salon
= link_to 'New Salon', new_salon_path, class: "btn btn-success pull-right"
