- if notice
  %p#notice= notice
%div.row
  %div.col-md-6
    %h3.lead.pull-left.search
      Rezulati pretrage za:
      %b
        = params[:search]
      %br
    %div.pull-left.search_count
      Pronađeno salona:
      = @number_of_results
  -if location_is_know
    = render 'salons/salon_filter'
.clearfix
- @salons.each do |salon|
  = render 'salons/salon_list', salon: salon
= link_to 'New Salon', new_salon_path, class: "btn btn-success pull-right"
