<!--<p id="notice"><%= notice %></p>-->


<div class="panel panel-default">
  <div class="panel-heading"><%= @salon.name %> <%= link_to 'Edit', edit_salon_path(@salon),class: "btn btn-info pull-right" %></div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "default.png" %>
        <hr>
        <address>
          <strong>Adresa:</strong> <%= @salon.address %><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Beograd, Zemun<br><br>
          <strong>Telefon:</strong> <a href="tel:+381606624730">060/6624-730</a><br><br>
          <strong>Email:</strong> <a href="mailto:#">info@<%= @salon.permalink %>.com</a><br><br>
          <strong>Web:</strong> <a href="salon.com"><%= @salon.permalink %>.com</a>
        </address>
        <div style="height:200px;min-height:10px;" id="map_canvas"></div>
      </div>
      <div class="col-md-8">
        <%= @salon.description %>
      </div>
    </div>
  </div>
</div>



<script>
  var map = new google.maps.Map(document.getElementById('map_canvas'), {
      zoom: 15,
      center: new google.maps.LatLng(<%= @salon.lat %>,<%= @salon.lng %>),
      mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  var myMarker = new google.maps.Marker({
      position: new google.maps.LatLng(<%= @salon.lat %>,<%= @salon.lng %>),
      draggable: true
  });

  google.maps.event.addListener(myMarker, 'dragend', function (evt) {
    var salon_lat = document.getElementById("salon_lat");
  salon_lat.value = evt.latLng.lat().toFixed(9);

  var salon_lng = document.getElementById("salon_lng");
  salon_lng.value = evt.latLng.lng().toFixed(9);
  });
  map.setCenter(myMarker.position);
  myMarker.setMap(map);
</script>





<%= link_to 'Edit', edit_salon_path(@salon) %> |
<%= link_to 'Back', salons_path %>
