<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @salon.name %>
</p>

<p>
  <strong>Permalink:</strong>
  <%= @salon.permalink %>
</p>

<p>
  <strong>Address:</strong>
  <%= @salon.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @salon.description %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @salon.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @salon.lng %>
</p>

<%= link_to 'Edit', edit_salon_path(@salon) %> |
<%= link_to 'Back', salons_path %>
