/ <p id="notice"><haml:loud> notice </haml:loud></p>
.panel.panel-default
  .panel-body
    .row
      .col-md-4
        = image_tag @salon.image.url(:preview)
        %span.salon_info= @salon.address
        %a{ :href => "tel:"+@salon.phone1, :title => @salon.phone1, :class => 'salon_info' }
          = @salon.phone1
        %a{ :href => "tel:"+@salon.phone2, :title => @salon.phone2, :class => 'salon_info' }
          = @salon.phone2
        =mail_to @salon.email, @salon.email, :class => 'salon_info'
        %a{ :href => @salon.website, :title => @salon.website,:target => "_blank", :class => 'salon_info' }
          = @salon.website
        %a{ :href => @salon.facebook, :title => @salon.facebook,:target => "_blank", :class => 'salon_info' }
          = @salon.facebook
        %a{ :href => @salon.instagram, :title => @salon.instagram,:target => "_blank", :class => 'salon_info' }
          = @salon.instagram
        %a{ :href => @salon.twitter, :title => @salon.twitter,:target => "_blank",:class => 'salon_info' }
          = @salon.twitter
      .col-md-8
        %h1.salon_title
          = @salon.name
        = link_to 'Edit', edit_salon_path(@salon),class: "btn btn-info pull-right"
        %p= @salon.description
%h2
  Galerija
.panel.panel-default
  .panel-body
    .row
      = image_tag @salon.image.url(:preview), :class => 'col-md-3'
      = image_tag @salon.image.url(:preview), :class => 'col-md-3'
      = image_tag @salon.image.url(:preview), :class => 'col-md-3'
      = image_tag @salon.image.url(:preview), :class => 'col-md-3'

%h2
  Kako do nas
.panel.panel-default
  .panel-body
    .row
      .col-md-12
        #map_canvas{:style => "height:400px;min-height:10px;"}
:javascript
  var map = new google.maps.Map(document.getElementById('map_canvas'), {
      zoom: 15,
      center: new google.maps.LatLng( #{@salon.lat} , #{@salon.lng} ),
      mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  var myMarker = new google.maps.Marker({
      position: new google.maps.LatLng( #{@salon.lat} , #{@salon.lng} ),
      draggable: true
  });

  google.maps.event.addListener(myMarker, 'dragend', function (evt) {
    var salon_lat = document.getElementById("salon_lat");
  salon_lat.value = evt.latLng.lat().toFixed(9);

  var salon_lng = document.getElementById("salon_lng");
  salon_lng.value = evt.latLng.lng().toFixed(9);
  });
  map.setCenter(myMarker.position);
  myMarker.setMap(map);
