<!DOCTYPE html>
<html>
<head>
  <title>Beautysalons</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul>
  <li><%= link_to "Salons", salons_path %></li>
  <li><%= link_to "Prices", prices_path %></li>
  <li><%= link_to "Services", services_path %></li>
</ul>
<%= yield %>

</body>
</html>
